<!DOCTYPE html>
<html>
  <head>
    <title>Fart | Error</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{{url_for('static', filename='images/logo.png')}}"  />
      </div>
    </header>      
    <div class="content">
      <h1>Oops! That was an error</h1>
      <p>Oopsie</p>
      <button onclick="location.href='/'">Go back</button>
    </div>
  <footer>
      Written by <i>ChatGPT</i>
  </footer>
  </body>
</html>